{% extends "_layouts/cp" %}

{% set title = craft.plugins.getPlugin('webtexttool').getName | t ~ " v" ~ craft.plugins.getPlugin('webtexttool').getVersion | t %}

{% set content %}

{% includeCssResource "webtexttool/css/font-awesome.min.css" %}
{% includeCssResource "webtexttool/css/angular-busy.min.css" %}
{% includeCssResource "webtexttool/css/ladda-themeless.min.css" %}
{% includeCssResource "webtexttool/css/wtt-admin.css" %}

<div ng-app="wttDashboard" ng-controller="appController">
    <div ng-view></div>
</div>

{% set record = craft.webtexttool.getAccessTokenByUserId(currentUser.id) %}
<input type="hidden" name="userRecordId" id="user-record-id" value="{{ record ? record.id : null }}"/>
{% endset %}