{% extends "_layouts/cp" %}

{% set title = "Webtexttool v" ~ craft.plugins.getPlugin('webtexttool').getVersion | t %}

{% set content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
{% includeCssResource "webtexttool/css/angular-busy.min.css" %}
{% includeCssResource "webtexttool/css/ladda-themeless.min.css" %}
{% includeCssResource "webtexttool/css/wtt-admin.css" %}

<script type="text/javascript" src="{{ url('resources/webtexttool/js/wtt-admin.min.js') }}"></script>
<script type="text/javascript" src="{{ url('resources/webtexttool/js/app-controller.js') ~ '?v=' ~ craft.plugins.getPlugin('webtexttool').getVersion }}"></script>

<div ng-app="wttDashboard" ng-controller="appController">
    <div ng-view></div>
</div>

{% set record = craft.webtexttool.getAccessTokenByUserId(currentUser.id) %}
<input type="hidden" name="userRecordId" id="user-record-id" value="{{ record ? record.id : null }}"/>
{% endset %}